ul {
  list-style: none;
  padding: 0;
}

a {
  cursor: pointer;
}

::selection {
  color: #ea90f2;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0px;
  color: #1a282f;
}

header {
  position: relative;
  float: left;
  width: 100%;
  padding: 0px 5%;
  box-sizing: border-box;
  background-color: #006585;
}
header a {
  text-decoration: none;
}
header a h1 {
  font-size: 20px;
  color: #ffffff;
}

.page-container {
  float: left;
  padding: 20px 5%;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
}
.page-container .returnToHome {
  text-decoration: none;
  font-size: 10px;
  color: #006585;
}
.page-container .page-header {
  position: relative;
  float: left;
  width: 100%;
}
.page-container .page-header h2 {
  font-size: 20px;
  font-weight: 700;
  position: relative;
  float: left;
  margin: 13px 0 0 0;
}
.page-container .page-header .modals {
  position: relative;
  float: right;
}
.page-container .page-header .modals .newSoldItem {
  background-color: #006585;
  border: 1px solid #006585;
  border-radius: 3px;
  color: #ffffff;
  padding: 10px 28px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  float: right;
}
.page-container .page-header .modals .newSoldItem:hover {
  background-color: #ffffff;
  color: #006585;
  transition: 0.5s;
}
.page-container .page-header .modals .newSoldItem:hover {
  background-color: #ffffff;
  color: #006585;
  transition: 0.5s;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.page-info-container {
  color: #00b5c7;
  font-size: 16px;
  margin: 5px 0;
  position: relative;
  float: left;
  width: 100%;
}
.page-info-container div {
  margin: 15px 0;
}

.table-container {
  position: relative;
  float: left;
  width: 100%;
}
.table-container table {
  width: 100%;
  table-layout: fixed;
}
.table-container h4 {
  margin: 40px 0 5px 0;
  color: #006585;
}
.table-container th {
  padding: 20px 0;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  color: #1a282f;
  border-bottom: 2px solid #c4c4c4;
}
.table-container .table-content {
  max-height: 500px;
  overflow-x: auto;
  margin-top: 0px;
}
.table-container td {
  padding: 15px 0;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 12px;
  color: #1a282f;
  border-bottom: solid 1px #c4c4c4;
}

.createNewSoldItem {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(26, 40, 47, 0.5);
  left: 0;
  top: 0;
  z-index: 99;
}
.createNewSoldItem .modal-container {
  box-sizing: border-box;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 60px 50px;
  width: 50%;
}
.createNewSoldItem .modal-container .modal-header {
  position: relative;
  float: left;
  width: 100%;
  border-bottom: 1px solid #006585;
  margin-bottom: 25px;
  padding-bottom: 10px;
}
.createNewSoldItem .modal-container .modal-header h3 {
  margin: 0px;
  padding: 0;
  font-size: 16px;
  color: #006585;
  position: relative;
  float: left;
}
.createNewSoldItem .modal-container .modal-header button {
  position: relative;
  float: right;
  color: #c70082;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}
.createNewSoldItem .modal-container .selects-container {
  position: relative;
  float: left;
  width: 100%;
}
.createNewSoldItem .modal-container select {
  position: relative;
  float: left;
  width: 100%;
  margin: 10px 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  height: 40px;
  border: 1px solid #006585;
  color: #1a282f;
  background-color: #ffffff;
}
.createNewSoldItem .modal-container .modal-buttons {
  position: relative;
  float: left;
  width: 100%;
}
.createNewSoldItem .modal-container .modal-buttons #componentsDataConfirm {
  background-color: #ffffff;
  border: 1px solid #006585;
  color: #006585;
  border-radius: 3px;
  padding: 10px 28px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 100%;
  margin: 25px 0 15px;
}
.createNewSoldItem .modal-container .modal-buttons #componentsDataConfirm:hover {
  background-color: #006585;
  color: #ffffff;
  transition: 0.5s;
}
.createNewSoldItem .modal-container .modal-buttons #confirmSale {
  background-color: #006585;
  border: 1px solid #006585;
  border-radius: 3px;
  color: #ffffff;
  padding: 10px 28px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 100%;
  margin: 15px 0 0;
}
.createNewSoldItem .modal-container .modal-buttons #confirmSale:hover {
  background-color: #ffffff;
  color: #006585;
  transition: 0.5s;
}
.createNewSoldItem .modal-container .modal-buttons .error {
  color: #c70082;
  font-weight: bold;
  display: block;
  clear: both;
  font-size: 12px;
}
.createNewSoldItem .modal-container .modal-buttons #showNewComponent {
  position: relative;
  float: left;
  width: 100%;
}
.createNewSoldItem .modal-container .modal-buttons #showNewComponent li {
  list-style-type: none;
  border-bottom: 1px solid #006585;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.createNewSoldItem .modal-container .modal-buttons #showNewComponent li img {
  float: right;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .table-header thead th {
    font-size: 11px !important;
  }
}

/*# sourceMappingURL=ventas.css.map */
