@import "variables.scss";

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0px;
  color: $black;
}

header {
  position: relative;
  float: left;
  width: 100%;
  padding: 0px 5%;
  box-sizing: border-box;
  background-color: $blue;
  color: $white;
  h1 {
    font-size: 20px;
  }
}
.page-container {
  padding: 20px 5%;
  box-sizing: border-box;
  @include relative(left);
  .page-header {
    @include relative(left);
    h2 {
      font-size: 20px;
      font-weight: 700;
      position: relative;
      float: left;
      margin: 8px 0 0 0;
    }

    .modals {
      position: relative;
      float: right;
      .newSoldItem {
        background-color: $blue;
        border: 1px solid $blue;
        border-radius: 3px;
        color: $white;
        padding: 10px 28px;
        font-family: $font;
        font-size: 14px;
        margin: 0;
        text-decoration: none;
        position: relative;
        float: right;
        &:hover {
          background-color: $white;
          color: $blue;
          transition: 0.5s;
        }
      }
    }
  }
}

.hide {
  display: none;
}

.page-info-container {
  color: $aqua;
  font-size: 16px;
  margin: 5px 0;
  @include relative(left);
  div {
    margin: 15px 0;
  }
}

.table-container {
  table {
    width: 100%;
    table-layout: fixed;
  }

  th {
    padding: 20px 0;
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    color: $black;
    border-bottom: 2px solid $grey;
  }
  .table-content {
    height: 300px;
    overflow-x: auto;
    margin-top: 0px;
  }

  td {
    padding: 15px 0;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: $black;
    border-bottom: solid 1px $grey;
  }
}
