@import "_variables.scss";

ul {
  list-style: none;
  padding: 0;
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0px;
  color: $black;
}

header {
  position: relative;
  float: left;
  width: 100%;
  padding: 0px 5%;
  box-sizing: border-box;
  background-color: $blue;
  color: $white;
  h1 {
    font-size: 20px;
  }
}
.page-container {
  padding: 20px 5%;
  box-sizing: border-box;
  @include relative(left);
  
.returnToHome {
    text-decoration: none;
    font-size: 10px;
    color:$blue;
  }
  .page-header {
    @include relative(left);
    h2 {
      font-size: 20px;
      font-weight: 700;
      position: relative;
      float: left;
      margin: 13px 0 0 0;
    }

    .modals {
      position: relative;
      float: right;
      .newSoldItem {
        @include button-primary;
        position: relative;
        float: right;
        &:hover {
          background-color: $white;
          color: $blue;
          transition: 0.5s;
        }
      }
    }
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}

.page-info-container {
  color: $aqua;
  font-size: 16px;
  margin: 5px 0;
  @include relative(left);
  div {
    margin: 15px 0;
  }
}

.table-container {
  @include relative(left);

  table {
    width: 100%;
    table-layout: fixed;
  }
  h4{
    margin: 40px 0 5px 0;
    color: $blue;
  }

  th {
    padding: 20px 0;
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    color: $black;
    border-bottom: 2px solid $grey;
  }
  .table-content {
    max-height: 500px;
    overflow-x: auto;
    margin-top: 0px;
  }

  td {
    padding: 15px 0;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: $black;
    border-bottom: solid 1px $grey;
  }
}

.createNewSoldItem {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba($color: $black, $alpha: 0.5);
  left: 0;
  top: 0;
  z-index: 99;

  .modal-container {
    box-sizing: border-box;
    background-color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 60px 50px;
    width: 50%;

    .modal-header {
      @include relative(left);
      border-bottom: 1px solid $blue;
      margin-bottom: 25px;
      padding-bottom: 10px;
      h3 {
        margin: 0px;
        padding: 0;
        font-size: 16px;
        color: $blue;
        position: relative;
        float: left;
      }
      button {
        position: relative;
        float: right;
        color: $purple;
        font-weight: 400;
      }
    }
.selects-container{
  
  @include relative(left);
}
    select {
      @include relative(left);
      margin: 10px 0;
      font-family: 'Raleway', sans-serif;
      font-size: 14px;
      box-sizing: border-box;
      height: 40px;
      border: 1px solid $blue;
      color: $black;
      background-color: $white;
    }

    .modal-buttons {
      @include relative(left);
      #componentsDataConfirm {
        @include button-secondary;
        @include relative(left);
        margin: 30px 0 20px 0;
        
      }
      #confirmSale {
        @include button-primary;
        @include relative(left);
      }
    }
  }
}
