@import "_variables.scss";
@import "_main.scss";
  

.stores {
  float: left;
  position: relative;
  width: 100%;
  margin: 20px 0 0px;

  button {
    border: 1px solid $aqua;
    border-radius: 3px;
    color: $aqua; 
    padding: 10px 30px;
    font-family: $font;
    font-size: 14px;
    margin-right: 10px;
    &:hover {
      background-color: $aqua;
      color: $white;
      transition: 0.5s; 
    }
  }  
}

.dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  float: left;
  position: relative;
  width: calc(100% + 80px);
  margin-left: -40px;
  .dashboard-box { 
    @include card;


    a {
      text-decoration: none;
      h3 {
        color: $purple;
        text-align: left;
        font-size: 16px;
        float: left;
        margin: 12px 0 0 10px;
      }
    img{
      width: 40px;
      float: left;
    }  
    }
    &:hover {
      transform: scale(1.1, 1.1);
      transition: 0.5s;
      
    }
  }
}

.report{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  float: left;
  position: relative;
  width: calc(100% + 80px);
  margin-left: -40px;
  .report-item{
    margin: 10px 40px; 
    flex: 1;
    font-size: 14px;


    h3{
      color: $lilac;

    }
  }


}
