$main-color: #00136b;
$main-text-color: #c9ae5c;
$alt-text-color: white;
$title-font: 'Oxygen', sans-serif;
$text-font: 'Nanum Gothic', sans-serif;
@mixin button{
    background-color: $main-text-color;
    padding: 10px 10px;
    margin: 10px;
    color: black;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}

a{
    text-decoration: none;
    color: $alt-text-color;
    @include button;
}
ul{
    list-style: none;
    padding: 0;
}

body{
    background-color: $main-color;
    color: $alt-text-color;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    font-family: $text-font;
    h1{
        grid-column: 1 / -1;
        font-family: $title-font;
    }
    //.componentsMenu{}
    .orderList{
        grid-column: span 2;
    }
    .totalPrice{
        grid-column: 2 / span 2;
    }
    .soldItems{
        grid-column: 2 / span 2;
    }
}